    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
    /* font-family: 'Lato', sans-serif; */
    *{
        margin: 0;
        padding: 0;
    }
    ::placeholder {
        font-size: 18px;
    }
    .contact-sec{
        background-image: url(./images/shpae.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
    }
    .contact-title{
        color: white;
        font-family: 'Lato', sans-serif;
        width: 250px;
        margin: 0 auto;
        padding: 10px 0;
        text-align: center;
    }

    .contact-form{
        color: white;
        width: 800px;
        height: 85vh;
        margin: 0 auto;
        border: 1px solid white;
        font-family: 'Lato', sans-serif;
    }
    .contact-form input{
        background-color: transparent;
        color: white;
        padding: 5px;
        font-size: 20px;
    }
    .contact-form .contact-name{
        position: relative;
        left: 30px;
        top: 10px;
        font-size: 25px

    }

    .contact-form .name-label{
        position: relative;
        left: 24px;
        top: 15px;
    }
    .contact-form .name-label input{
        display: block;
        width: 730px;
    }
    .contact-email{
        position: relative;
        left: 30px;
        top: 25px;
        font-size: 25px;
    }
    .contact-form .email-label{
        position: relative;
        left: 24px;
        top: 30px;
    }
    .contact-form .email-label input{

        display: block;
        width: 350px;
    }
    .contact-number{
        position: relative;
        width: 200px;
        left: 412px;
        top: -45px;
        font-size: 25px;
    }
    .contact-form .number-label{
        position: relative;
        left: 24px;
        top: 28px;
    }
    .contact-form .number-label input{

        position: relative;
        display: block;
        width: 350px;
        left: 380px;
        bottom: 67px;
    }

    .contact-form .contact-subject{
        position: relative;
        left: 30px;
        top: -20px;
        font-size: 25px;
    }

    .contact-form .subject-label{
        position: relative;
        left: 24px;
        top: -12px;
    }
    .contact-form .subject-label input{

        display: block;
        width: 730px;
    }

    .contact-form .contact-massage{
        position: relative;
        left: 30px;
        top: -5px;
        font-size: 25px;

    }

    .contact-form .massage-label textarea{
        position: relative;
        display: block;
        left: 24px;
        width: 750px;
        resize: none;
        font-size: 20px;
        background-color: transparent;
        color: white;
        padding: 5px;
    }

    .contact-form button{
        position: relative;
        top: 15px;
        left: 24px;
        font-size: 20px;
        margin-right: 20px;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: transparent;
        color: white;
    }
    input:focus, textarea:focus{
        outline: none;
    }